    /*
    DEMO STYLE
*/
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
    }
    
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }
    
    #sidebar.active {
        margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #e23e3e00;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 12px 21px;
        font-size: 1.1em;
        display: block;
    }
    
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    #sidebar ul li.>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
    }
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    a.download {
        background: #fff;
        color: #7386D5;
    }
    
    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
        width: calc(100% - 250px);
        padding: 40px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #e5e5e5d4;
    }
    
    #content.active {
        width: 100%;
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 250px);
        }
        #sidebarCollapse span {
            display: none;
        }
    }
    
    .feed_loadimg_block {
        display: inline-block;
        width: 100%;
        margin: 10px 0px 20px;
        text-align: center;
    }
    
    .mybg {
        padding: 20px 25px;
        background-color: white;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 8px 16px -9px #777;
        margin-top: 20px;
    }
    
    .myact {
        background-color: white;
        color: #7386d5;
    }
    
    .mynav {
        font-size: 19px;
        font-weight: 500;
        margin-left: 18px;
    }
    
    .hidd {
        display: none;
    }
    
    .mysidebar {
        background: linear-gradient(to right, #6d7fcc 0%, #6d7fcc 100%);
        z-index: 999;
        border-left: 4px solid #6d7fcc;
        box-shadow: 0 0 14px rgba(191, 191, 191, .24);
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
    
    .mysidebar:hover {
        border-left: 4px solid #fff;
        transform: translateY(-4px) scale(1.02);
        -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
        box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
        z-index: 999;
    }
    
    .sizee {
        font-size: 20px;
    }
    
    .sie {
        font-size: 35px;
    }
    
    .sbar {
        background: linear-gradient(to right, #blue 0%, #000 100%) !important;
        background-size: cover !important;
        background-attachment: fixed !important;
    }
    
    .custom-menu {
        display: none;
        z-index: 1000;
        position: absolute;
        overflow: hidden;
        border: 1px solid #CCC;
        white-space: nowrap;
        font-family: sans-serif;
        background: #FFF;
        color: #333;
        border-radius: 5px;
        padding: 0;
    }
    /* Each of the items in the list */
    
    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
    }
    
    .custom-menu li:hover {
        background-color: #DEF;
    }
    /* width */
    
    ::-webkit-scrollbar {
        width: 1px;
    }
    /* Track */
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    
    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
    }
    /* Handle on hover */
    
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }
    
    .hideAll {
        margin: auto;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        display: table-cell;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }
    
    #hideAll,
    .hideAll {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 99;
    }
    
    .center,
    .hideAll {
        text-align: center;
    }
    
    .btnDesign {
        font-size: 11px;
        /* margin: -17px; */
        padding: 8px;
    }